*{
  padding: 0;
  margin: 50px;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

#box {
  height: 200px;
  width: 200px;
  background: #000;
}

#box2 {
  height: 200px;
  width: 200px;
  background: skyblue;
}